@font-face {
  font-family: Garamond;
  src: url(../Assets/Fonts/EBGaramond08-Regular.ttf);
 }
@font-face {
  font-family: Baskerville;
  src: url(../Assets/Fonts/libre-baskerville/LibreBaskerville-Regular.otf);
 }
 @font-face {
  font-family: Baskerville;
  src: url(../Assets/Fonts/libre-baskerville/LibreBaskerville-Regular.otf);
 }
@font-face {
  font-family: OpenSans;
  src: url(../Assets/Fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Raleway-light;
  src: url(../Assets/Fonts/raleway/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: Raleway-bold;
  src: url(../Assets/Fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../Assets/Fonts/raleway/Raleway-Regular.ttf);
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim {  
  animation: 3s ease-out 0s opac;
}

html, body {overflow: hidden}

.hero.is-fullheight {
  background: linear-gradient(rgba(16, 46, 82, 0.8), rgba(16, 46, 82, 0.8)),
    url("../Assets/Img/background_image.jpg") no-repeat 2% 52% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-fullheight.team {
  background: linear-gradient(rgba(16, 46, 82, 0.8), rgba(16, 46, 82, 0.8)),
    url("../Assets/Img/back.jpg") no-repeat 2% 52% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-fullheight.join {
  background: linear-gradient(rgba(16, 46, 82, 0.8), rgba(16, 46, 82, 0.8)),
    url("../Assets/Img/london.jpg") no-repeat 50% 52% fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-fullheight.contact {
  background: linear-gradient(rgba(16, 46, 82, 0.8), rgba(16, 46, 82, 0.8)),
    url("../Assets/Img/backContact.jpg") no-repeat 50% 52% fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-fullheight.mention {
  background: linear-gradient(rgba(16, 46, 82, 0.8), rgba(16, 46, 82, 0.8));
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body.mentionBody {
  overflow: visible !important;
}
.hero-body .subtitle {
  font-size: 26px;
  color: white;
  font-family: Baskerville;
}
.hero-body .subtitle2 {
  font-size: 15px;
  color: white;
  font-family: Baskerville;
}

.imgLogo {
  height: auto;
  width: 430px;
}

.transFooter {
  padding: 20px;
  background: transparent;
}
.footer .subFooter {
  color: #fff;
}
.footer a:hover {
  color: #CB9910
}
.content h2 {
  font-size: 12px;
  font-weight: 500;
  color: white;
  font-family: "Baskerville";
  margin-bottom: 0%;
}
h3 {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  font-family: "Baskerville";
}
.subTitleWord {
  margin-left: 25%;
  margin-right: 25%;
}
.line { 
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 0.5px;
  border-color: #CB9910;
}
.paddNavbar{
  margin-top: 1%;
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.padd {
  margin-left: 10%;
  margin-right: 10%;
}
.paddText {
  padding-bottom: 10%;
}
.logoContainer {
  padding-bottom: 7%;
}
.navbar-item, .navbar-link{
  color: white;
  font-size: 13px;
}
a.navbar-item:hover{
  color: #CB9910;
  font-size: 13px;
}
.contact-reveal {
  color: white !important;
  font-family: Raleway;
}
.contact-reveal:hover {
  color: #CB9910 !important;
}
.hvr-overline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #CB9910 !important;
  height: 3px !important;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -webkit-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.navbar-item.is-active {
  color : #CB9910;
  background-color: transparent;
}
.subtitleTeam {
  font-weight: 400;
  color: white;
  font-family: Raleway-light;
}
.subtitleJoin {
  font-weight: 400;
  color: white;
  font-family: Raleway-light;
  text-align: justify;
}
.subtitleJoinButton {
  font-weight: 400;
  color: white;
  font-family: Raleway-light;
  text-align: center;
}
.titleTeam {
  font-size: 40px;
  color: white;
  font-family: Raleway-bold;
}
.infoTeamTitle {
  font-size: 30px;
  font-weight: 400;
  color: #102E52;
  font-family: Raleway-bold;
}
.infoContactTitle {
  font-size: 20px;
  font-weight: 400;
  color: white;
  font-family: Raleway-bold;
  text-align: left;
}
.infoContactTitle2 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: Raleway;
  text-align: left;
}
.infoMentionsTitle2 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  font-family: Raleway;
  text-align: justify;
}
.infoTeamTitle2 {
  font-size: 30px;
  font-weight: 400;
  color: #CB9910;
  font-family: Raleway;
}
.teamTitle {
  text-align: left;
  padding-left: 30px;
}
.overlay-image {
  position: relative;
  width: 100%;
}
.overlay-imag {
  align-items: center;
  display: flex;
  flex-direction: column;
  display: block;
  width: auto;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.overlay-image .text {
  color: #fff;
  font-size: 35px;
  line-height: 1em;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  font-family: Raleway-light;
  top: 80%;
  left: 27%;
  position: absolute;
  text-align: left;
 }
 .subtitle3 {
  color: #fff;
  font-size: 25px;
  font-family: Raleway-light;
 }
 .overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(7,29,73,0.5);
 }
 .overlay-image:hover .hover {
  opacity: 1;
 }
.columnImg  {
  display: flex;
  flex-direction: column;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin: 0.75rem;
}
.modalDialog {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
	bottom: 0;
	background: rgba(7, 29, 73, 0.7);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.rightModal {
  left: 50%;
}
.centerModal {
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}
.modalDialog > div {
  width: 50%;
  height: 100%;
	position: relative;
	padding: 0px 0px 13px 0px;
	background: #fff;
}
.modalJoin {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
	bottom: 0;
	background: rgba(7, 29, 73, 0.7);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalJoin:target {
	opacity:1;
	pointer-events: auto;
}
.modalJoin > div {
  width: 60%;
  height: auto;
	position: relative;
	padding: 0px 25px 30px 25px;
	background: #fff;
}
.label {
  color: #102E52;
  font-size: 12px;
  font-family: 'Raleway';
  text-align: left;
}
.field > .name .lastName {
  width: 100%;
}
.field.spaceField {
  justify-content: space-between;
}
.close {
	color: white;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
  width: 24px;
	text-decoration: none;
  font-weight: bold;
  z-index:3;
	-webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.close:hover { color: #CB9910; }
.close2 {
	color: white;
	line-height: 25px;
	position: absolute;
	left: 10px;
	text-align: center;
	top: 10px;
  width: 24px;
	text-decoration: none;
  font-weight: bold;
  z-index:3;
	-webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.close2:hover { color: #CB9910; }
.closeJoin {
	color: white;
	line-height: 25px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 20px;
  width: 24px;
	text-decoration: none;
  font-weight: bold;
  z-index:3;
	-webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.closeJoin:hover { color: #CB9910; }
.overlay-image .imageSamuel{
  width: 100%;
  height: 50%;
  object-fit: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.crossImg {
  width: 60px;
  height: auto;
}
.icon {
  width: 30px;
  height: 30px;
}
.vl {
  border-left: 1px solid #D3D3D3;
  margin-top: 5px;
  height: 98%;
  margin-left: 30%;
}
.descriptionText {
  text-align: justify;
  color: #102E52;
  font-size: 16px;
  font-family: 'OpenSans';
}
.paddModal {
  padding: 30px;
}
.colMargin {
  margin-top: 15px;
  justify-content: space-around;
  padding-right: 20px;
}
.columns .colArround {
  margin-bottom: 30px;
  justify-content: space-between;
}
.contactText{
  text-align: right;
  color: #102E52;
  font-size: 16px;
  font-family: 'OpenSans';
  margin-top: 2px;
}
.teamHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttonApply {
  border: 1px solid white;
  padding: 15px;
  width: 120px;
}
.buttonApply:hover {
  background-color: #CB9910;
}
.mapouter {
  text-align: right;
  height: 350px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 100%;
}
.paddTop {
  padding-top: 7%;
}

@media (min-width: 741px) and (max-width: 1024px) {
  .subTitleWord {
    margin-left: 20%;
    margin-right: 20%;
  }
  .paddNavbar {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .navbar-burger:hover {
    color: #CB9910;
  }
  .navbar-burger {
    color: white;
  }
  .hvr-overline-reveal {
    color: #102E52
  }
  .navbar-menu.is-active {
    display: block;
    position: absolute;
    width: 100%;
  }
  a.navbar-item:hover {
    background-color: transparent;
  }
  a.navbar-item.is-active {
    color : #CB9910;
    background-color: transparent;
  }
  .line { 
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
    border-color: #CB9910;
  }
  .overlay-image .text {
    color: #fff;
    font-size: 30px;
    line-height: 1em;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    font-family: Raleway-light;
    top: 80%;
    left: 35%;
    position: absolute;
    text-align: left;
   }
}
@media screen and (max-width: 740px) {
  html, body {overflow: visible;}
  .subTitleWord {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 14%;
    padding-right: 14%
  }
  .paddNavbar {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .navbar-burger:hover {
    color: #CB9910;
  }
  .navbar-burger {
    color: white;
  }
  a.navbar-item:hover {
    background-color: #fff;
  }
  .hvr-overline-reveal {
    color: #102E52
  }
  
  .content h2 {
    font-size: 0.8rem;
  }
  .hero-body .subtitle {
    font-size: 1.2rem;
  }
  .hero-body .subtitle2 {
    font-size: 0.8rem;
  }
  .line {
    margin: 5%;
  }
  .rightModal {
    left: 0%;
  }
  .logoContainer {
    padding-bottom: 25%;
  }
  .paddText {
    padding-bottom: 20%;
  }
  .subTitleWord {
    display: flex;
  }
  .navbar-menu.is-active {
    display: block;
    position: absolute;
    width: 100%;
  }
  a.navbar-item:hover {
    background-color: transparent;
  }
  a.navbar-item.is-active {
    color : #CB9910;
    background-color: transparent;
  }
  .columnImg  {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0rem;
    margin-bottom: 0.7rem;
  }
  .modalDialog > div {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 0px 13px 0px;
    background: #fff;
  }
  .overlay-image {
    position: relative;
    width: 90%;
  }
  .phoneTeam {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hover.hidePhone {
    display: none;
  }
  .centerModal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0%;
    overflow: scroll !important;

  }
  .modalJoin > div {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 25px 30px 25px;
    background: #fff;
    overflow: scroll !important;
  }
  .modalJoin {
    overflow: scroll !important;
  }
  .hero .navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
  }
  .hero.is-fullheight .hero-body, .hero.is-halfheight .hero-body  {
    padding-top: 20%;
  }
  .mobileScroll {
    overflow: hidden;
  }
}