

/* - - - - - - - - - - - - - - - - - **
	*
	*	accent blue
	*
/* - - - - - - - - - - - - - - - - - */




body.accent-blue-scrollbar::-webkit-scrollbar {

	width: 8px;
	background: #fff;
}

body.accent-blue-scrollbar  *::-webkit-scrollbar-thumb {
    background: #0b80cf;
}

body.accent-blue-scrollbar  *::-webkit-scrollbar {

    width: 8px;
    background: #fff;
}

body.accent-blue-scrollbar::-webkit-scrollbar-thumb {
	
	background: #0b80cf;
}


.accent-blue {

    color: #0b80cf;
}
.accent-blue:hover, .active-education.accent-blue > a {

    color: #0b80cf;
}

.accent-blue > .current:before {

    background: #0b80cf;
}

.accent-blue:before {

    color: #0b80cf;
    background: #0b80cf;
}

.accent-blue.education_tab_item:before {

    background: #0b80cf;
}


.accent-blue.education_tab_item > a:before {

    color: #0b80cf;    
}

.accent-blue.btn:hover {

    color: #0b80cf;
}
.accent-blue.expirience_left {

    background: #0b80cf;
}

.accent-blue.expirience_left:before {

    background: none;
    border-right-color: #0b80cf;
}

.accent-blue.experience_item:after {

    color: #0b80cf;
}

.skills_item.accent-blue {

	color: rgba(0, 0, 0, .87);
}
.skills_item.accent-blue:before {

	background: none;
}

.skillbar-bar.accent-blue {

	background: #0b80cf;
}

.accent-blue.portfolio_link img {

    cursor: url('../img/cursor.png'), auto;
}

.accent-blue.contact_input,
.accent-blue.contact_message {

    color: rgba(0, 0, 0, .87);
}

.accent-blue.contact_input:focus,
.accent-blue.contact_message:focus {

    border-color: #0b80cf;
}

.media_label.accent-blue {

    color: #0b80cf;
}

.textarea-wrap.accent-blue {

    border-color: #0b80cf;
}



.bar.accent-blue:before,
.bar.accent-blue:after {

    background: #0b80cf;
}

.media_label.accent-blue {

    color: rgba(0, 0, 0, .3);
}

.contact_input:focus ~ .media_label.accent-blue {
  font-size:13px;
  color: #0b80cf;
}

.message_input.accent-blue {

    color: rgba(0, 0, 0, .87);
}

.message_input.accent-blue:focus ~ .media_label {

    color: #0b80cf;
    top: 10px;
}

.accent-blue.categories_item {

    color: inherit;
}
.accent-blue.categories_item:before {

    color: #0b80cf;
    background: none;
}

.accent-blue.blog_roll_btn > i {

    color: #0b80cf;
}


.accent-blue.circle_avatar {

    background: url('../img/avatar.jpg') 0 0 no-repeat;
    background-size: cover;
}


.comments_text.accent-blue {

    color: rgba(0, 0, 0, .87);
}
.comments_text.accent-blue:after {

    color: #0b80cf;
}

.blog_roll_info  i.accent-blue {

    color: #0b80cf;
}

/* - - - - - - - - - - - - - - - - - **
	*
	*	accent green
	*
/* - - - - - - - - - - - - - - - - - */






body.accent-green-scrollbar::-webkit-scrollbar {

	width: 8px;
	background: #fff;
}

body.accent-green-scrollbar::-webkit-scrollbar-thumb {
	
	background: #26a69a;
}


body.accent-green-scrollbar  *::-webkit-scrollbar-thumb {
    background: #26a69a;
}

body.accent-green-scrollbar  *::-webkit-scrollbar {

    width: 8px;
    background: #fff;
}


.accent-green {

    color: #26a69a;
}
.accent-green:hover, .active-education.accent-green > a {

    color: #26a69a;
}

.accent-green > .current:before {

    background: #26a69a;
}

.accent-green:before {

    color: #26a69a;
    background: #26a69a;
}

.accent-green.education_tab_item:before {

    background: #26a69a;
}


.accent-green.education_tab_item > a:before {

    color: #26a69a;    
}

.accent-green.btn:hover {

    color: #26a69a;
}


.accent-green.expirience_left {

    background: #26a69a;
}

.accent-green.expirience_left:before {

    background: none;
}

.accent-green.experience_item:after {

    color: #26a69a;
}

.skills_item.accent-green {

	color: rgba(0, 0, 0, .87);
}
.skills_item.accent-green:before {

	background: none;
    color: #26a69a; 
}

.skillbar-bar.accent-green {

	background: #26a69a;
}

.accent-green.portfolio_link img{

    cursor: url('../img/green-cursor.png'), auto;
}


.accent-green.contact_input,
.accent-green.contact_message {

    color: rgba(0, 0, 0, .87);
}

.accent-green.contact_input:focus,
.accent-green.contact_message:focus {

    border-color: #26a69a;
}

.media_label.accent-green {

    color: #26a69a;
}


.project_btn.accent-green {

    color: #26a69a;
}

.textarea-wrap.accent-green {

    border-color: #26a69a;
}

.bar.accent-green:before,
.bar.accent-green:after {

    background: #26a69a;
}


.media_label.accent-green {

    color: rgba(0, 0, 0, .3);
}

.contact_input:focus ~ .media_label.accent-green {
  font-size:13px;
  color: #26a69a;
}


.message_input.accent-green {

    color: rgba(0, 0, 0, .87);
}

.message_input.accent-green:focus ~ .media_label {

    color: #26a69a;
    top: 10px;
}




.accent-green.categories_item {

    color: inherit;
}
.accent-green.categories_item:before {

    color: #26a69a;
    background: none;
}

.accent-green.blog_roll_btn > i {

    color: #26a69a;
}

.accent-green.circle_avatar {

    background: url('../img/avatar2.jpg') 0 0 no-repeat;
    background-size: cover;
}


.comments_text.accent-green {

    color: rgba(0, 0, 0, .87);
}
.comments_text.accent-green:after {

    color: #26a69a;
}

.blog_roll_info  i.accent-green {

    color: #26a69a;
}


/* - - - - - - - - - - - - - - - - - **
	*
	*	accent orange
	*
/* - - - - - - - - - - - - - - - - - */



body.accent-orange-scrollbar::-webkit-scrollbar {

	width: 8px;
	background: #fff;
}

body.accent-orange-scrollbar::-webkit-scrollbar-thumb {
	
	background: #ff9800;
}


body.accent-orange-scrollbar  *::-webkit-scrollbar-thumb {
    background: #ff9800;
}

body.accent-orange-scrollbar  *::-webkit-scrollbar {

    width: 8px;
    background: #fff;
}


.accent-orange {

    color: #ff9800;
}
.accent-orange:hover, .active-education.accent-orange > a {

    color: #ff9800;
}

.project_btn.accent-orange {

    color: #ff9800;
}

.accent-orange > .current:before {

    background: #ff9800;
}

.accent-orange:before {

    color: #ff9800;
    background: #ff9800;
}

.accent-orange.education_tab_item:before {

    background: #ff9800;
}


.accent-orange.education_tab_item > a:before {

    color: #ff9800;    
}

.accent-orange.btn:hover {

    color: #ff9800;
}


.accent-orange.expirience_left {

    background: #ff9800;
}

.accent-orange.expirience_left:before {

    background: none;
}

.accent-orange.experience_item:after {

    color: #ff9800;
}

.skills_item.accent-orange {

	color: rgba(0, 0, 0, .87);
}
.skills_item.accent-orange:before {

	background: none;
    color: #ff9800; 
}

.skillbar-bar.accent-orange {

	background: #ff9800;
}

.accent-orange.portfolio_link img,
.accent-orange.portfolio_link figure,
.accent-orange.portfolio_link:before {

    cursor: url('../img/orange-cursor.png'), auto;
}

.bar.accent-orange:before,
.bar.accent-orange:after {

    background: #ff9800;
}


.media_label.accent-orange {

    color: rgba(0, 0, 0, .3);
}

.contact_input:focus ~ .media_label.accent-orange {
  font-size:13px;
  color: #ff9800;
}


.select_value.accent-orange .jq-selectbox li:hover {

    background: #ff9800;
}

.message_input.accent-orange:focus {

    border: 2px solid #ff9800;
}


.message_input.accent-orange:focus ~ .media_label {

    color: #ff9800;
    top: 10px;
}


.contact_input.accent-orange {

    color: rgba(0, 0, 0, .87);
}


.message_input.accent-orange {

    color: rgba(0, 0, 0, .87);
}

.accent-orange.categories_item {

    color: inherit;
}
.accent-orange.categories_item:before {

    color: #ff9800;
    background: none;
}

.accent-orange.blog_roll_btn > i {

    color: #ff9800;
}

.accent-orange.circle_avatar {

    background: url('../img/avatar3.jpg') 0 0 no-repeat;
    background-size: cover;
}

.comments_text.accent-orange {

    color: rgba(0, 0, 0, .87);
}
.comments_text.accent-orange:after {

    color: #ff9800;
}

.blog_roll_info  i.accent-orange {

    color: #ff9800;
}