

@media screen and ( max-width: 414px) {
	.avatar > img, .accent-orange-scrollbar .avatar > img {

		height: 200px;
	}
}

@media screen and (min-width: 415px) and ( max-width: 991px) {
	.avatar > img, .accent-orange-scrollbar .avatar > img {

		height: auto;
	}
}

@media screen and ( min-width: 992px) {

	/* - - - - - - - - - - - - - - - - - **
	*
	*	about
	*
	/* - - - - - - - - - - - - - - - - - */

	.avatar > img, .accent-orange-scrollbar .avatar > img {

		height: auto;
		width: 100%;
	}
	.accent-orange-scrollbar .avatar.aside-avatar {

		height: auto;
	}

	.accent-orange-scrollbar .avatar {

		padding: 30px 30px 30px 45px;
	}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	blog roll
	*
	/* - - - - - - - - - - - - - - - - - */

	.blog_roll_top_element,.blog_slider_item {

		height: 440px;
	}

	.accent-orange-scrollbar .aside-avatar {

		padding-top: 0;
		padding-right: 0;
	}
	.tags_item {

		margin-right: 5px;
	}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	blog post
	*
	/* - - - - - - - - - - - - - - - - - */


	


}


@media screen and ( max-width: 991px) {

	.offset-top {
		margin-top: 50px;
	}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	header
	*
	/* - - - - - - - - - - - - - - - - - */

	.header {

		padding: 22.5px 0;
		z-index: 9999999;
	}

	.top_header {

		position: fixed !important;
		left: 0;
		z-index: 9999;
		top: 0;
	}

		.header > .container {
			position: static;
		}

			.responsive_header {

				display: -webkit-box;

				display: -ms-flexbox;

				display: flex;
			}

			.navigation {

				width: 255px;
				display: none;
				background: #fff;
				left: -255px;
				position: absolute;
				top: 0;
				z-index: 999;
				height: 100vh;
			}
			.active-nav {

				display: inline-block;
				left: 0;
				z-index: 999;
			}
			.body-shadow {
				overflow: hidden;
			}
			.body-shadow:after {
				display: block;
			}
				.nav_title {

					display: block;
				}
				.nav_list {

					-ms-flex-flow: column wrap;

					    flex-flow: column wrap;
					padding: 0 30px;
				}
					.nav_item {
						border: none;
						margin-top: 18px;
					}
					.nav_item:last-child {
						border: none;
					}
					.nav_item.hvr-overline-from-left:hover:before, .nav_item.hvr-overline-from-left, .active-menu-underline-item:before,
					.nav_item.hvr-underline-from-left:hover:before, .nav_item.hvr-underline-from-left, .active-menu-underline-item:before {
						right: auto;
						
					}
						.nav_link {
							text-align: left;
							padding: 0;
							word-break: break-all;
						}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	moved parallax
	*
	/* - - - - - - - - - - - - - - - - - */
	
	.moved-parallax {

		height: 500px;
	}
		.moved-parallax_item {

			display: none;
		}

	.margin-top-content {

		margin-top: 150px;
	}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	about
	*
	/* - - - - - - - - - - - - - - - - - */

	.section:before {

		display: none;
	}
		.avatar {

			padding: 30px;
		}
		.accent-orange-scrollbar .avatar {

			padding: 0 15px 0 8px;
		}
		.about_information {

			padding: 10px 30px 30px 80px;
		}
		.accent-orange-scrollbar .about_information {

			padding-top: 40px;
		}
			.information_icon {

				left: -50px;
			}
			.about_btn {

				margin-left: -48px;
			}
		.social_list {

			position: static;
			margin-top: 10px;
			-ms-flex-flow: row nowrap;
			    flex-flow: row nowrap
		}
			.social_item {

				width: 100%;
			}
			.social_hover {

				display: none !important;
			}
			.social_item:first-child {

				border-top: 1px solid rgba(0, 0, 0, .08);
			}
				.social_link {

					padding: 20px 0;
				}




	/* - - - - - - - - - - - - - - - - - **
	*
	*	skills
	*
	/* - - - - - - - - - - - - - - - - - */



	.progress-wrap {

		padding-top: 0;
	}
		.skillsbar_list, .right_skills_title {
			padding: 0;
		}
		.right_skills_title {

			margin-top: 70px;
		}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	gallery
	*
	/* - - - - - - - - - - - - - - - - - */



	.gallery_tab_list {

		margin: 20px 0 0 45px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
		.gallery_tab_item {

			margin-right: 0;
		}
		.gallery_tab_item:last-child {

			margin-right: 45px;
		}


	.gallery_item {

		margin-bottom: 20px;
	}
	.hide_gallery_item {

		display: none;
	}
		.portfolio_desc {

			padding-top: 15px;
		}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	experience
	*
	/* - - - - - - - - - - - - - - - - - */

	.experience_list{

		padding-left: 0;
	}

		.experience_item {

			height: auto;
		}
		.experience_item:after,
		.experience_item:before,
		.expirience_left:before {

			display: none;
		}
			.expirience_right {
				overflow: visible;
				height: auto;
				padding: 35px;
			}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	project
	*
	/* - - - - - - - - - - - - - - - - - */

	.project {

		margin-top: 0;
		padding: 30px 0 50px 0;
	}
		.project_item {

			margin-top: 20px;
		}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	education
	*
	/* - - - - - - - - - - - - - - - - - */

	.education_tab_item:before {
		display: none;
	}
	.education_left {

		padding-bottom: 0;
	}
	.education_right {

		padding-bottom: 0;
	}

	.education-tab {

		padding: 10px 5px 10px 15px;
	}
		.education_tab_desc {

			margin-top: 5px;
		}

	.contact_title {

		padding-left: 30px;
	}


	.contact_form {

		padding-top: 78px;
	}
	.offset_bottom {

		margin-bottom: 70px !important;
	}
		.contact_left_column {

			padding-right: 15px;
		}
		.contact_right_column {

			padding-left: 15px;
		}

	.select_group {

		margin-bottom: 45px;
	}


	.footer {

		padding: 45px 0;
		margin-top: 4px;
	}
		.footer_name {

			margin: 25px 0 15px 0;

		}


	.expirience-offset:before,.expirience-offset:after {

		display: none;
	}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	aside
	*
	/* - - - - - - - - - - - - - - - - - */

	.aside {

		display: none;
	}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	blog post
	*
	/* - - - - - - - - - - - - - - - - - */

	.blog_post_social {

		margin-bottom: 30px;
	}
		.blog_post_social .social_item {

			border-bottom: 1px solid rgba(0, 0, 0, .08);
		}
		.blog_post_social .social_item:not(:last-child) {

			border-right: none;
		}

	.blog_post_form .form_group {

		margin-bottom: 50px;
	}
}

@media screen and ( max-width: 750px) {

	.blog_post_slider_list {

		margin-top: 60px;
	}
	.blog_post_slider_list .slick-dots {

		-webkit-box-pack: start;

		    -ms-flex-pack: start;

		        justify-content: flex-start;
		padding-left: 10px;
	}
}


@media screen and ( max-width: 591px) {

	.blog_roll_top_element,.blog_slider_item  {

		height: 300px;
	}
	.blog_slider_title {

		font-size: 50px;
	}
	.blog_slider_text {

		font-size: 26px;
	}
}


@media screen and ( max-width: 520px) {


	/* - - - - - - - - - - - - - - - - - **
	*
	*	moved parallax
	*
	/* - - - - - - - - - - - - - - - - - */

	.moved-parallax {

		height: 300px;
	}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	slider
	*
	/* - - - - - - - - - - - - - - - - - */

	.slider_desc {

		left: 15px;
	}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	gallery
	*
	/* - - - - - - - - - - - - - - - - - */

	.gallery_tab_link {

		font-size: 14px;
		padding-bottom: 15px;
		line-height: 16px;
	}

	/* - - - - - - - - - - - - - - - - - **
	*
	*	blog post
	*
	/* - - - - - - - - - - - - - - - - - */

	.pagination_text {

		font-size: 12px;
		margin-top: 10px;
		font-weight: normal;
	}
	.pagination_btn {

		padding: 15px 0;
	}

	
}


@media screen and ( max-width: 420px) {


	/* - - - - - - - - - - - - - - - - - **
	*
	*	about
	*
	/* - - - - - - - - - - - - - - - - - */


	.about_information {

		padding-left: 30px;
		padding-top: 4px;
	}
		.information_list {

			margin-top: 15px;
		}
			.information_icon {

				display: none;
			}
		.about_btn {

			margin: 20px 0 0 0;
		}

	.blog_slider_title {

		font-size: 30px;
	}
	.blog_slider_text {

		font-size: 18px;
	}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	skills
	*
	/* - - - - - - - - - - - - - - - - - */

	.offset-left {

		padding-left: 30px;
	}

	.all_skills {

		padding: 40px 30px;
	}

	.progress-wrap {

		padding-left: 30px;
		padding-bottom: 40px;
	}
		.right_skills_title {

			margin-top: 60px;
		}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	gallery
	*
	/* - - - - - - - - - - - - - - - - - */



	.gallery_tab_list {

		margin-left: 0;
	}
		.gallery_tab_item:last-child {

			margin-right: 0;
		}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	expirience_list
	*
	/* - - - - - - - - - - - - - - - - - */

	.experience_list{

		padding-left: 0;
	}
		.experience_item {

			margin-bottom: 30px;
		}

			.expirience_left,
			.expirience_right {

				padding: 30px;
			}

	


	/* - - - - - - - - - - - - - - - - - **
	*
	*	project
	*
	/* - - - - - - - - - - - - - - - - - */

	.project {

		padding: 30px 0;
	}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	education
	*
	/* - - - - - - - - - - - - - - - - - */

	.education {

		margin-top: 30px;
	}
		.education_left {

			padding: 30px 30px 10px 30px;
			padding-bottom: 0;
		}

		.education_right {

			padding: 0;
		}

			.education-tab {
				padding: 0;
			}

				.education_tab_title {

					font-size: 14px;
					line-height: 16px;
				}
				.education_period {

					padding: 25px 0 15px 0;
				}
				.education_tab_desc {

					margin: 15px 0 25px 0;
				}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	contact
	*
	/* - - - - - - - - - - - - - - - - - */



	.contact {

		-webkit-transform: translateY(35px);

		        transform: translateY(35px)
	}
		.contact_title {

			padding: 30px 30px 0 30px;
		}
		.contact_desc {

			margin-top: 15px;
		}
		.contact_form {

			padding-top: 40px;
		}


	/* - - - - - - - - - - - - - - - - - **
	*
	*	blog roll
	*
	/* - - - - - - - - - - - - - - - - - */

	.blog_roll_section {

		padding: 15px;
	}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	footer
	*
	/* - - - - - - - - - - - - - - - - - */

	.footer {

		padding-top: 45px;
	}
}



@media screen and ( max-width: 374px) {

		.about_btn {

			-ms-flex-flow: row wrap;

			    flex-flow: row wrap;
		}

		.about_btn > a {

			margin-bottom: 15px;
		}

		.about_btn > .btn:last-child {

			margin-bottom: 0;
		}
}




@media screen and ( max-width: 360px) {



	h1 {

		font-size: 24px;
		line-height: 26px;
	}
	.about_profession {

		font-size: 16px;
	}



	/* - - - - - - - - - - - - - - - - - **
	*
	*	about
	*
	/* - - - - - - - - - - - - - - - - - */


	.information_link {

		font-size: 16px;
		line-height: 18px;
	}

}